.home {
  background-image: url('../media/sloth.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 900px;
  width: 100%;
  text-align: center;
  color: white; text-shadow: black 0.1em 0.1em 0.2em;
  text-decoration: none;
}

.sign_stuff {
  display: inline;
}

.sign_stuff:first {
  margin-right: ;
}

.home a {
  color: white;
  text-decoration: none;
}

.sunny-sloth {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 80%;
}

#finished_questions h3 {
  text-decoration: underline;
}

#survey_title {
  display: none;
}

#survey_questions {
  display: none;
}

body {
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  background-color: #FDFEF8;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.container2{
  background: linear-gradient(40deg, white 20%, #FFFFF0 80%);
  box-shadow: 10px 10px 5px #888888;
  margin: 10px auto;
  width: 800px;
  padding: 10px;
  border: 1px solid #000;
  z-index: 15;
}

.container3{
  background: linear-gradient(40deg, white 20%, #FFFFF0 80%);
  box-shadow: 10px 10px 5px #888888;
  margin: 10px;
  width: 700px;
  padding: 10px;
  border: 1px solid #000;
}
th {
  text-align: left;
}

.footer {
  margin: 20px auto;
  width: 600px;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: purple;
}
.footer a:hover {
  color: orange;
}

#question_options {
  display: none;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  font-weight: 100;
}

nav {
  background-color: #2E2E2E;
  color: white;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
}

nav a {
  text-decoration: none;
  color: white;
}

nav p {
  display: inline;
}

nav ul {
  display: inline;
  position: absolute;
  right: 0;
  top: 0;
}

#response_options {
  display: none;
}

#title_options input {
  width:100%;
}

#response_options input {
  width:100%;
}

#question_options input {
  width:100%;
}

nav li {
  display: inline;
  padding: 10px; 
}

.tab {
    display: none;
}
.tabs {
    float: left;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-bottom: 16px;
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}
.tabs li {
    float: left;
    margin-right: 16px;
    padding: 10px 15px;
    height: 30px;
    line-height: 30px;
}
.tabs li a {
    color: #666;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.tabs li.active {
    border: 1px solid #ccc;
    border-bottom: 1px solid white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: -1px;
    height: 31px;
    padding: 9px 14px;
}
 
.tabs li.active a {
    color: black;
    text-decoration: none;
    border-bottom: none;
}

.profilePic{
  width: 20%;
  height: 20%;
  padding: 3px;
  border: 1px solid black;
}

.profSurveys{
  margin: 0px auto;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 1000px;
  width: 50%;
  border-top-style: groove;
  text-align: center;
  position: relative;
  bottom: 50px;
}

.profSurveys ol{
  position: relative;
  display: inline-block;
}

.info{
  width: 50%;
  position: relative;
  left: 300px;
  top: -250px;
}

.info p{
  background: linear-gradient(40deg, white 20%, #FFFFF0 80%);
  box-shadow: 3px 3px 1px #888888;
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px;
}

.analytics{

}

.create_survey{
  position: absolute;
  left: 800px;
  top: 125px;
}

.create_survey a{
  color: black;
  text-decoration: none;
}

/*
available font weights:
100,100italic,300,300italic,400,400italic,
500,500italic,700,700italic,900,900italic
*/

.responses ul {
  list-style-type: none;
}
