<div class="container about">
<p>Survey Sloth is the World's Premiere Sloth-Themed Survey Creation Website. Founded in 1873 by Phineas Q. Facesloth, Survey Sloth 
provides real-time survey creation and immediate survey access for your target markets. Create unlimited surveys and add unlimited questions and potential answers. Our state-of-the-art databases will store your survey results and let you view survey analytics 
and such.</p>  
<p>Survey Sloth's business operations are overseen by a group of five phenomal beings. All sloths themselves, they truly embody Survey Sloth and Phineas' motto:</p> 

<p>'Socors Contemplatio Visio'</p>
<p>Sloth. Survey. Face. </p>

<img class="slothpix" src="../media/slothstronaut.jpg">
<h3 class="slothname">Phineas Q. Facesloth, founder</h3>
<img class="slothpix" src="../media/slothlock_holmes.jpg">
<h3 class="slothname">Jack Dubnicek, Head of Slothylitics</h3>
<img class="slothpix" src="../media/general_sloth.jpg">
<h3 class="slothname">Chris Scherer, Commander in Sloth</h3>
<img class="slothpix" src="../media/ladysloth.jpg">
<h3 class="slothname">Lauren Scott, Interslothional Relations</h3>
<img class="slothpix" src="../media/booksloth.jpg">
<h3 class="slothname">Andrew Wittrock, Archslothop</h3>
<img class="slothpix" src="../media/hip_sloth.jpg">
<h3 class="slothname">Daniel Lu, Slothmaster General</h3>

</div>