<div class='container'>
	<h2>FACE: create a survey!</h2>
</div>

<%if @error_message%>
	<h3><%=@error_message%></h3>
<%end%>

<div class='container'>
	<form action='/create_survey' method='post'>
		<input type='text' name='question' placeholder='Survey Question'>
		<br>
		<ul>
		<li><input type='text' name='first_option' placeholder='Survey Option'></li>
		<li><input type='text' name='second_option' placeholder='Survey Option'></li>
		<li><input type='text' name='third_option' placeholder='Survey Option'></li>
		<li><input type='text' name='fourth_option' placeholder='Survey Option'></li>
	</ul>
		<input type='submit' value='Submit survey'>
	</form>
</div>