<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="../js/analytics.js"></script>



<html>
<head>
  <title><%= @survey.title%></title>
</head>
<div class='container3'>
  <div class='analytics'>
  </div>
</div>
<body>  

</body>
</html>