
<<<<<<< HEAD
<<<<<<< HEAD
=======
<div class="home">
	<h1>SURVEY SLOTH, YO.</h1>
	<a href="/sign_up">Sign Up</a>
	<a href="/sign_in">Sign In</a>
	<br>
	<br>
	<a href="/create_survey">CREATE A SLOTH BASED SURVEY!!!!11!1</a>
=======
>>>>>>> master
<a href="/sign_up">Sign Up</a>
<a href="/sign_in">Sign In</a>


<div class="container">
	<h2>Here are your surveys, Face.</h2>
	<p></p>


<<<<<<< HEAD
=======
<div class="home">
	<h1>SURVEY SLOTH, YO.</h1>
	<a href="/sign_up">Sign Up</a>
	<a href="/sign_in">Sign In</a>
	<br>
	<br>
	<a href="/create_survey">CREATE A SLOTH BASED SURVEY!!!!11!1</a>
>>>>>>> 3f168e3d3a3b306e87de7776c34f9283532fe8be
</div>
=======
>>>>>>> jack_branch
</div>
>>>>>>> master
