<h1>SURVEY SLOTH, YO.</h1>

<a href="/sign_up">Sign Up</a>
<a href="/sign_in">Sign In</a>


<div class="container">
	<h2>Here are your surveys, Face.</h2>
	<p></p>

	<% @surveys.each do |survey| %>
   <h3><%=survey.title %>'</h3>
   <%= survey[:created_at] %>
   <p></p>
   <br>
   <br>
	<%end%>
	
</div>