<div class="home">
	<h1 id="logo">SURVEY SLOTH, YO.</h1>
	<h2 class="sign_stuff"><a href="/sign_up">Sign Up</a></h2>
	<h2 class="sign_stuff"><a href="/sign_in">Sign In</a></h2>
	<% if session[:message] %>
		<h2><%= session[:message] %></h2>
		<% session[:message] = nil %>
	<% end %>
</div>


