<<<<<<< HEAD

<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> af03682bcae446ec551cfeabc89c6242256a2714
<div class="home">
	<h1>SURVEY SLOTH, YO.</h1>
	<a href="/sign_up">Sign Up</a>
	<a href="/sign_in">Sign In</a>
	<br>
	<br>
	<a href="/create_survey">CREATE A SLOTH BASED SURVEY!!!!11!1</a>
<<<<<<< HEAD
=======
>>>>>>> 6ec1c8efd9c5d61839435e397c903feae1c057ce
<a href="/sign_up">Sign Up</a>
<a href="/sign_in">Sign In</a>
=======
<br>


>>>>>>> af03682bcae446ec551cfeabc89c6242256a2714


<div class="container">
	<h2>Here are your surveys, Face.</h2>
	<p></p>
<<<<<<< HEAD


<<<<<<< HEAD
=======
<div class="home">
	<h1>SURVEY SLOTH, YO.</h1>
	<a href="/sign_up">Sign Up</a>
	<a href="/sign_in">Sign In</a>
	<br>
	<br>
	<a href="/create_survey">CREATE A SLOTH BASED SURVEY!!!!11!1</a>
>>>>>>> 3f168e3d3a3b306e87de7776c34f9283532fe8be
</div>
=======
>>>>>>> jack_branch
=======
>>>>>>> af03682bcae446ec551cfeabc89c6242256a2714
</div>
>>>>>>> 6ec1c8efd9c5d61839435e397c903feae1c057ce
