<h1>SIGN IN, DUDE.</h1>

<form action="/sign_in" method="post" class='sign_in sign_forms'>
	<input type="text" name="user_name" placeholder="user_name"><br>
	<input type="password" name="password" placeholder="password">
	<input type="submit" value="Sign on in!">
</form>
<br><br><br>

<%if @error_message%>
		<li class='sign-in-error'><%=@error_message%></li>
<%end%>


<img src="../media/sloth-sunglasses.png" class="sunny-sloth">