<h2>Sign Up For An Account:</h2>

<form id="sign_up" action="/sign_up" method="post">
	<input type="text" name="user_name" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<input type="password" name="password_confirmation" placeholder="password confirmation">
	<button type="submit">sign me upppp</button>
</form>

<ul id="error_time"></ul>