<h2>Sign Up For An Account:</h2>

<form action="/sign_up" method="post">
	<input type="text" name="user[name]" placeholder="name">
	<input type="password" name="user[password]" placeholder="password">
	<input type="password" name="user[password_confirmation]" placeholder="password confirmation">
	<input type="submit" value="Sign Me Up!">
	
</form>