<h2>SIGN IN, DUDE.</h2>

<form action="/sign_in" method="post">
	<input type="text" name="user[user_name]" placeholder="user name">
	<input type="password" name="user[password]" placeholder="password">
	<input type="submit" value="sign on in">
</form>