<style>
form {
  border: 2px solid grey;
  border-radius: 5px;
  padding: 20px;
  width: 20%;
  background: linear-gradient(160deg, silver 20%, #FFFFF0 80%);
  position: relative;
  left: 100px;
  top: 20px;
}
 
form input {
  margin: 2px;
}
 
form button {
  color: #006600;
  background: silver;
  -moz-box-shadow: 0 0 1px 1px green;
  -webkit-box-shadow: 0 0 1px 1px green;
  box-shadow: 0 0 1px 1px green;
}
</style>

<h2>SIGN IN, DUDE.</h2>

<form action="/sign_in" method="post" class='sign_in'>
	<input type="text" name="user_name" placeholder="user name"><br>
	<input type="password" name="password" placeholder="password">
	<input type="submit" value="Sign on in!">
</form>
<br><br><br>

<%if @error_message%>
		<li><%=@error_message%></li>
<%end%>


<img src="../sloth-sunglasses.jpg" class="sunny-sloth">