<h1>SIGN UP FOR MAXIMUM SLOTHINESS</h1>

<form id="sign_up" class="sign_forms" action="/sign_up" method="post">
	<input type="text" name="user_name" placeholder="username">
	<br>
	<input type="password" name="password" placeholder="password">
	<br>
	<input type="password" name="password_confirmation" placeholder="confirm password">
	<br>
	<button type="submit">sign me upppp</button>
</form>

<ul id="error_time"></ul>

<img src="../media/sloth-sunglasses.png" class="sunny-sloth">