<div class='container'>
	<h2><%= @survey.title %><h2>
</div>

<div class='container'>
	<form id='survey_title' method="POST" action="/take_survey/:survey_id">
		<div id='question'><%= @survey.questions.each do |question| %>
			<ol>
				<li><%= question %></li>
					<input type="radio", name="response" value="<% response %>">
					<div id='responses'><%= @survey.responses.each do |response| %>
						<ol>
							<li><% response %></li>
							<% end %>
						</ol>
					<% end %>
			</ol>	
		</div>
	</form>
</div>
