<h1>Tell Us All About Your Sweet, Slothy Self</h1>

<form action="/update_user" method="post" id="about_form" class='sign_forms'>
	<input type="text" name="email" placeholder="email"><br>
	<input type="text" name="first_name" placeholder="first name">
	<input type="text" name="last_name" placeholder="last name">
	<textarea form="about_form" name="about">About me!</textarea>
	<input type="submit" value="Update my slothfile">
</form>